<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mohamed.theftscanner">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.mohamed.theftscanner.TheftDetails"
            android:label="@string/title_activity_details"
            android:parentActivityName="com.mohamed.theftscanner.Dashboard" />
        <activity
            android:name="com.mohamed.theftscanner.Dashboard"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.mohamed.theftscanner.Statistics"
            android:label="@string/title_activity_statistics"
            android:parentActivityName="com.mohamed.theftscanner.Dashboard" />
        <activity
            android:name="com.mohamed.theftscanner.Profile"
            android:label="@string/title_activity_profile"
            android:parentActivityName="com.mohamed.theftscanner.Dashboard" />
        <activity android:name="com.mohamed.theftscanner.Authentication" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="com.mohamed.theftscanner.Map"
            android:parentActivityName="com.mohamed.theftscanner.Dashboard">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mohamed.theftscanner.Dashboard" />
        </activity>
        <activity
            android:name="com.mohamed.theftscanner.SplashScreen"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.mohamed.theftscanner.Form"
            android:label="@string/title_activity_form"
            android:parentActivityName="com.mohamed.theftscanner.Dashboard" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>